/*комментарии в css файлах*/
/*общие стили*/

/*селекторы*/
body {
    /*описываем стили в фигурны скобках для тега body. свойство: значение    */
    background: whitesmoke; /*цвет фона*/
    color: #333333;/*цвет шрифта*/
    font-size: 20px; /*    Размер шрифта, пока что указываем в пикселях, ширину в пикселях никогда не задается, тк пиксели - фиксированны*/
    margin: 0; /*когда ставим размер 0, то не пишем единицы измерений*/
}

header {
    background: lightgray;
}

footer {
    background: silver;
}

img {
    width: 100%; /*размер в процентах - не фикисрованный, он расчитывается относительно родителя*/
    height: auto;
}

/*селектор тега а - будет применен ко всем тегам а, которые есть на страничке*/
a {
    text-decoration: none;
}

ul {
    list-style-type: none; /*стиль макрекра списка*/
    margin: 0;
    padding: 0;
}

/*селектор класса, имена классов придумываем сами*/
.container {
    max-width: 1000px;/*960-1200*/
    margin: 0 auto;
}

.find_friend {
    display: none;
}